.securo-button-gradient {
  background: linear-gradient(180deg, #76D1BF 0%, rgba(118, 209, 191, 0.73) 100%) !important;
  color: #ffffff !important;
  text-transform: none;
}

.securo-button-lighten {
  background-color: rgba(118, 209, 191, 0.2);
  color: #76D1BF;
}
