.pill-table-row {
	background-color: #fff;
	padding: 10px;
	border-radius: 6px;
	margin-bottom: 10px;
	width: 100%;
  border: 1px solid #dcdcdc;
  box-shadow: 0px 4px 28px -8px rgba(118, 209, 191, 0.27) !important;
}

.pill-table-header--text {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #7c7c7c;
}
